# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\admin-pc\Desktop\Java_programming\6.Spring Data\14 Spring Data Advanced Quering Exercise New\skeleton_for_adv_quering\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
