# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\admin-pc\Desktop\Java_programming\6.Spring Data\21. Exam Preparation\Java DB Spring Data Exam - 28 July 2019 football\football-skeleton\football-exam-prep=28-07-19\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
