# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\admin-pc\Desktop\Java_programming\6.Spring Data\21. Exam Preparation\Java DB EXAM - 28 Nov\skeleton\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
